.scroll-container {
  position: relative;
  scroll-behavior: smooth;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .scroll-btn-box {
    position: fixed;
    height: 200px;
    width: 100px;
    right: 3.5rem;
    margin-top: -100px;
    top: 50%;
    z-index: 10;

    .arrow {
      height: 100px;
      width: 100px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      cursor: pointer;
    }

    .arrow:nth-child(1) {
      top: 0;
      left: 0;
    }
    .arrow:nth-child(2) {
      bottom: 0;
      left: 0;
    }

    .hide {
      display: none;
    }
  }
}

.scroll-disable {
  overflow: hidden;

  .scroll-btn-box {
    display: none;
  }
}
