.director-section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  scroll-snap-align: center;

  .mask {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    padding: 3rem;
    transition: all 1s ease;

    h2 {
      color: #fff;
      font-size: 5rem;
      font-weight: 700;
      text-align: center;
    }

    button {
      border: 1px solid #fff;
      color: #fff;
      padding: 0.75rem 2rem;
      font-weight: 700;
      font-size: 1rem;
      background: transparent;
      cursor: pointer;
      position: absolute;
      bottom: 4rem;
      left: 50%;
      transform: translate(-50%);
      border-radius: 0.25rem;
      font-family: 'IBM Plex Serif', serif;
      transition: all 0.5s ease;
    }

    button:hover {
      background: #fff;
      color: #333;
    }
  }

  .close {
    width: 3rem;
    height: 3rem;
    color: #777;
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
    z-index: 4;
  }
}

.inner {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  .img {
    position: absolute;
    width: 800px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: all 1s ease;
  }

  .bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: #f3efc1;
    z-index: -2;
    transition: all 1s ease;
  }

  .text {
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    margin-top: -5rem;
    background: #fff;
    transition: all 1s ease;

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4rem;
      margin: 0 auto;
      max-width: 1000px;

      h3 {
        font-size: 4rem;
        margin-bottom: 1.5rem;
      }

      .movie-list {
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: 1.5rem;
      }
    }
  }
}

.animate {
  .mask {
    transform: scale(10);
    opacity: 0;
  }

  .img {
    left: 25%;
  }

  .bg {
    left: 0;
  }

  .text {
    left: 50%;
  }
}

.animate-completed {
  .mask {
    display: none;
  }
}
